.pr-1 {
  padding-right: 1rem;
}

.add-btn {
  margin-top: .7rem;
  padding-left: 1rem;
}

.container {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

.form-container {
  margin-top: 3rem;
}